# Portfolio selection

In [1]:
%pip install 'opvious>=0.16.8' yfinance

## Formulation

LaTeX equivalent: https://github.com/opvious/examples/blob/main/sources/portfolio-selection.md

In [2]:
import opvious.modeling as om

class PortfolioSelection(om.Model):
    assets = om.Dimension()
    groups = om.Dimension()
    covariance = om.Parameter.continuous(assets, assets)
    expected_return = om.Parameter.continuous(assets)
    minimum_return = om.Parameter.continuous()
    membership = om.Parameter.indicator(assets, groups)
    minimum_allocation = om.Parameter.unit(groups)
    allocation = om.Variable.unit(assets)
    
    @om.objective
    def minimize_risk(self):
        return om.total(
            self.covariance(l, r) * self.allocation(l) * self.allocation(r)
            for l, r in self.assets * self.assets
        )
    
    @om.constraint
    def expected_return_above_minimum(self):
        yield om.total(self.expected_return(a) * self.allocation(a) for a in self.assets) >= self.minimum_return()
        
    @om.constraint
    def allocation_is_total(self):
        yield self.allocation.total() == 1
        
    @om.constraint
    def group_allocation_above_minimum(self):
        for g in self.groups:
            group_allocation = om.total(self.membership(a, g) * self.allocation(a) for a in self.assets)
            yield group_allocation >= self.minimum_allocation(g)
    

model = PortfolioSelection()
model.specification()

LocalSpecification(sources=[LocalSpecificationSource(text="$$\n\\begin{align*}\n  \\S^d_\\mathrm{assets}&: A \\\\\n  \\S^d_\\mathrm{groups}&: G \\\\\n  \\S^p_\\mathrm{covariance}&: c \\in \\mathbb{R}^{A \\times A} \\\\\n  \\S^p_\\mathrm{expectedReturn}&: r^\\mathrm{expected} \\in \\mathbb{R}^{A} \\\\\n  \\S^p_\\mathrm{minimumReturn}&: r^\\mathrm{minimum} \\in \\mathbb{R} \\\\\n  \\S^p_\\mathrm{membership}&: m \\in \\{0, 1\\}^{A \\times G} \\\\\n  \\S^p_\\mathrm{minimumAllocation}&: a^\\mathrm{minimum} \\in [0, 1]^{G} \\\\\n  \\S^v_\\mathrm{allocation}&: \\alpha \\in [0, 1]^{A} \\\\\n  \\S^o_\\mathrm{minimizeRisk}&: \\min \\sum_{a, a' \\in A} c_{a,a'} \\alpha_{a} \\alpha_{a'} \\\\\n  \\S^c_\\mathrm{expectedReturnAboveMinimum}&: \\sum_{a \\in A} r^\\mathrm{expected}_{a} \\alpha_{a} \\geq r^\\mathrm{minimum} \\\\\n  \\S^c_\\mathrm{allocationIsTotal}&: \\sum_{a \\in A} \\alpha_{a} = 1 \\\\\n  \\S^c_\\mathrm{groupAllocationAboveMinimum}&: \\forall g \\in G, \\sum_{a \\in A} m_{a,g} \\alpha_{a} \\geq a^\\mathrm{minimum}_{g} \\\\\n\\end{align*}\n$$", title='PortfolioSelection')], description=None, annotation=None)

## Download input data

We gather tickers from Wikipedia and recent performance data via `yfinance`.

In [3]:
import pandas as pd
import yfinance as yf

tickers_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
tickers_df.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [4]:
values_df = yf.download(tickers=list(tickers_df['Symbol'])[:10], start='2022-1-1', interval='1mo')['Adj Close']
returns_df = values_df.head(100).dropna(axis=1).pct_change().dropna(axis=0, how='all')
returns_df.head()

[*********************100%***********************]  10 of 10 completed

,AAP,ABBV,ABT,ACN,ADBE,ADM,ADP,AOS,ATVI,MMM
Date,,,,,,,,,,
2022-02-01,-0.116755,0.090682,-0.050326,-0.103911,-0.124686,0.046000,-0.008391,-0.099266,0.031515,-0.104626
2022-03-01,0.012128,0.097042,-0.018737,0.067116,-0.025787,0.156653,0.112991,-0.068387,-0.017055,0.011229
2022-04-01,-0.028395,-0.093948,-0.041061,-0.109332,-0.130964,-0.007755,-0.036356,-0.085459,-0.056298,-0.031300
2022-05-01,-0.048940,0.011863,0.039015,-0.003367,0.051850,0.014069,0.021817,0.033525,0.036282,0.035154
2022-06-01,-0.088328,0.039289,-0.075004,-0.069724,-0.121062,-0.141624,-0.057863,-0.090486,-0.000257,-0.124404

## Find the optimal allocation

Asset groups are left as exercise to the reader.

In [5]:
import opvious

async def optimal_allocation(returns):
    """Returns an optimal allocation of assets given the input returns"""
    response = await opvious.Client.default().run_solve(
        specification=model.specification(),
        parameters={
            'covariance': returns.cov().stack(),
            'expectedReturn': returns.mean(),
            'minimumReturn': 0.005,
            'membership': {},
            'minimumAllocation': {},
        },
        assert_feasible=True,
    )
    allocation = response.outputs.variable('allocation')
    return allocation.reset_index(names=['ticker']).join(
        returns_df.agg(['mean', 'var']).T,
        on='ticker',
        validate='one_to_one'
    ).sort_values(by=['value'], ascending=False)

In [6]:
await optimal_allocation(returns_df)

  ticker     value  dual_value      mean       var
8   ATVI  0.376580    0.000000  0.010637  0.002763
2    ABT  0.250834    0.000000 -0.006823  0.002986
1   ABBV  0.174755    0.000000  0.005739  0.004506
6    ADP  0.112706    0.000000  0.011491  0.004885
5    ADM  0.046515    0.000000  0.009587  0.008085
3    ACN  0.038610    0.000000 -0.000985  0.006266
0    AAP  0.000000    0.000201 -0.051938  0.018287
4   ADBE  0.000000    0.001142  0.007467  0.016619
7    AOS  0.000000    0.000059  0.006102  0.010581
9    MMM  0.000000    0.000475 -0.019526  0.006524